{% extends "base.html" %}

{% block title %} Messages{% endblock %}

{% block vsebina %}
{% for message in messages %}
<div class="media">
  <div class="media-body">
    <h4 class="media-heading">{{ message.name }} ({{ message.email }}) <a href="/{{ message.key.id() }}" class="btn btn-primary">More</a></h4>
    <p>{{ message.content }} | {{ message.timestamp }}</p>
  </div>
</div>
{% endfor %}
<div>
  <a href="/deleted-messages" class="btn btn-primary">See deleted messages</a>
</div>
{% endblock %}